/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* For the D3 JS section */

.chart div {
  font: 10px sans-serif;
  background-color: darkBlue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart rect {
  fill: lightGreen;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

/* For the main map section */

body {

  background-color: #a0adc1;

}

.credits {

  font-size: .75em;
}

h1, h3, .credits {

  display: flex;
  justify-content: center;

}

#usMap {

  display: flex;
  justify-content: center;

}

#dataDisplayer {

  display: flex;

}

#textDisplayer {

  width: 25 vh;
  border: 1px dotted black;

}

#one > g:nth-child(1) > text {

  text-size: 4em;
  color: red;

}
