/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* example 1 */

 body {
   margin: 0;
 }

 .map {
   position: relative;
   overflow: hidden;
 }

 .layer {
   position: absolute;
 }

 .tile {
   pointer-events: none;
   position: absolute;
   width: 256px;
   height: 256px;
 }

 .info {
   position: absolute;
   bottom: 10px;
   left: 10px;
 }

 /* example 2 */

 /*body {
   background: #222;
   margin: auto;
   width: 960px;
 }

 .arc-text {
   font: 16px sans-serif;
 }

 .arc-center {
   fill: none;
 }

 #credit {
   position: absolute;
   font: 10px sans-serif;
   right: 10px;
   bottom: 10px;
   color: #ddd;
 }

 #credit a {
   color: inherit;
 }*/

 /* example 3 */
/*
 .counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}*/

/* Example 3 chloropleth */

/* example 4 tutorials */

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
